<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="ExcelReadFolder" value="C:\Excel"/>
		<add key="ExcelArchiveFolder" value="C:\ExcelArchive"/>
		<add key="PDFTemplateFolder" value="C:\PDFTemplates"/>
		<add key="PDFWriteFolder" value="C:\PDF"/>
		<add key="DateFormat" value="dd/MM/yyyy"/>
	</appSettings>
</configuration>